/* Gallery style*/
.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gallery-item-card {
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.gallery-image {
    margin: 10px;
}

.gallery-image-title {
    margin: 10px;
}

.gallery-modal-image {
    text-align: center;
}

/* Modal style */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: white;
}

.modal-header, .modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    text-align: justify;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}